header{

    background-image: url(../image/pattern.png);
    background-size: 30%;
    background-color: cornflowerblue;
}
.intestazione{
    height: 100px;
}
.autore{
    color: cornflowerblue;
}

.autore-articolo{
    color: gray
}
.data-articolo{
    font-size: 10px;
}
.protagonisti-foto{
    font-size:7px;
}
.sottolineatura{
    background-color: yellow;
}

.lista{
   padding-left: 18px;

}

.colore-riga-blu{
    background-color: cornflowerblue;
    color:white;
}

.colore-riga-azzurro{
    background-color: #abcdef;
}
table{
    border-spacing: 0px;
    text-align: left;
}

.primo,.secondo{
width: 25%;
}
.terzo{
    width: 50%;
}
h2{
    color:grey;
    font-size:20px;
}

.monitor{
    color:white;
    font-size: 20px;
    background-image: url(../image/monitor.jpg);
    width: 270px;
    height: 200px;
}
.graph{
    color:white;
    font-size: 20px;
    background-image: url(../image/graph.jpg);
    width: 270px;
    height: 200px;
}