header{

    background-image: url(../image/pattern.png);
    background-size: 30%;
    background-color: cornflowerblue;
}

.autore{
    color: cornflowerblue;
}

.autore-articolo{
    color: gray
}
.data-articolo{
    font-size: 10px;
}
.protagonisti-foto{
    font-size:7px;
}
.sottolineatura{
    background-color: yellow;
}

.lista{
   padding-left: 0px;

}

.colore-riga-blu{
    background-color: cornflowerblue;
    color:white;
}

.colore-riga-azzurro{
    background-color: #007fff;
}